@model List<CU.OnBoarding.DataAccess.Model.User>
@{
    ViewBag.Title = "List";
    ViewBag.PageName = "Users List";
}

<div class="container-fluid">
    <!-- Page Heading -->
    @*<h1 class="h3 mb-4 text-gray-800">Users</h1>*@
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="~/Admin/Users/0" class="mb-xs mt-xs mr-xs btn btn-primary"><i class="fas fa-user-plus"></i>  Add New User</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Contact Number</th>
                            <th></th>
                        </tr>
                    </thead>
                    @*<tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </tfoot>*@
                    <tbody>
                        @if (Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.EmailAddress</td>
                                    <td>@item.ContactNumber</td>
                                    <td>
                                        <a href="~/Admin/Users/@item.UserID" data-toggle="tooltip" data-placement="top" title="asdsad" data-original-title="Tooltip on top">
                                            <i class="fas fa-user-minus"></i>
                                        </a> &nbsp;&nbsp;
                                        <a href="~/Admin/Users/@item.UserID" data-toggle="modal" title="Delete" data-target="#confirmationModal">
                                            <i class="fas fa-user-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
